<div>
  <h1 class="text-center">Inserisci i dati della tua giornata di pesca</h1>
  <hr>
  <br>
  <tr class="h5">
    <td>Data</td>
    <td>Ora</td>
    <td>Luogo</td>
    <td>Condizioni meteo</td>
    <td>Orario schiusa</td>
    <td>Insetti</td>
    <td>Catture</td>
    <td>Foto</td>
  </tr>
  <td><input class="form-control">{{ day.data }}</td>
  <td><input class="form-control">{{ day.ora }}</td>
  <td><input class="form-control">{{ day.luogo }}</td>
  <td><input class="form-control">{{ day.condizioniMeteo }}</td>
  <td><input class="form-control">{{ day.orarioSchiusa }}</td>
  <td><input class="form-control">{{ day.insetti }}</td>
  <td><input class="form-control">{{ day.catture }}</td>
  <td><input class="form-control">{{ day.foto }}</td>
</div>