<div>
  <h1 class="text-center">Inserisci i dati della tua giornata di pesca</h1>
  <hr>
  <br>
  <tr class="h5">
    <td>Data</td>
    <td>Ora</td>
    <td>Luogo</td>
    <td>Condizioni meteo</td>
    <td>Orario schiusa</td>
    <td>Insetti</td>
    <td>Catture</td>
    <td>Foto</td>
  </tr>

  <td><input class="form-control"></td>
  <td><input class="form-control"></td>
  <td><input class="form-control"></td>
  <td><input class="form-control"></td>
  <td><input class="form-control"></td>
  <td><input class="form-control"></td>
  <td><input class="form-control"></td>
  <td><input class="form-control"></td>
</div>
<br>
<div>
  <button type="button" class="btn btn-success"(click)="addDay()">Salva</button>
</div>

<div app-days *ngFor="let day of days"></div>